.enter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 15px;
  width: 310px;
  background-color: lightgrey;
  background-image: linear-gradient(lightgrey 40%, grey);
  box-shadow: 0 2px 5px -2px black;
  border-radius: 5px;
}

.enter-form > label {
  margin-bottom: 10px;
}

.enter-form > button {
  margin-top: 10px;
}

.radiobuttons {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.radiobuttons label {
  vertical-align:text-top;
}
